<div>
  <div class="lang-nav">
    <a class="header-content" (click)="switchLang()"><span [class.chosenLang]="langService.lang==='english'">En</span>/<span
        [class.chosenLang]="langService.lang==='farsi'">Fa</span></a>
  </div>
  <div>
    <div class="flex-container" fxLayout="row" fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column"
      style="margin-top:70px">
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="flex-item">
        <a routerLink="/home" class="link logo" routerLinkActive="active-link">
          <h1 [ngClass]="[lang]">{{langService.translate('Bent Oak Systems')}}</h1>
        </a>
      </div>
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="flex-item" [ngClass]="[lang]" style="margin-top:20px">
        <div class="usual-menu">
          <span class="header-item">
            <a class="header-content" routerLink="/contact">{{langService.translate('Contact')}}</a>
          </span>
          <span class="header-item">
            <a class="header-content" routerLink="about-us" routerLinkActive="active-link">{{langService.translate('About
              us')}}</a>
          </span>
          <span class="header-item">
            <a class="header-content" routerLink="people" routerLinkActive="active-link">{{langService.translate('People')}}</a>
          </span>
          <span class="header-item">
            <a class="header-content" routerLink="projects" routerLinkActive="active-link">{{langService.translate('Projects')}}</a>
          </span>
        </div>
        <div class="flex-container column-menu" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
          <div class="flex-item center" fxFlex="25">
            <span class="header-item">
              <a class="header-content" routerLink="/projects">{{langService.translate('Projects')}}</a>
            </span>
          </div>
          <div class="flex-item center" fxFlex="25">
            <span class="header-item">
              <a class="header-content" routerLink="/people">{{langService.translate('People')}}</a>
            </span>
          </div>
          <div class="flex-item center" fxFlex="25">
            <span class="header-item">
              <a class="header-content" routerLink="/about-us">{{langService.translate('About us')}}</a>
            </span>
          </div>
          <div class="flex-item center" fxFlex="25">
            <span class="header-item">
              <a class="header-content" routerLink="/contact">{{langService.translate('Contact')}}</a>
            </span>
          </div>
        </div>
        <span class="fill-remaining-space"></span>
      </div>
    </div>
  </div>
</div>