<div class="footer-back footer row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="footer-content" *ngIf="langService.lang === 'farsi'">{{address.fa}}</div>
    <div class="footer-content" *ngIf="langService.lang === 'english'">{{address.en}}</div>
    <div class="footer-content">{{langService.translate('Tel - UK: ')}}{{phone.uk}}</div>
    <div class="footer-content">{{langService.translate('Tel - IR: ')}}{{phone.ir}}</div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 center">
    <div class="footer-content">
      {{langService.translate('Follow us in ')}}
      <a class="link" target="_blank" href="https://www.linkedin.com/company/18228521/">LinkedIn</a>
      <i class="fa fa-linkedin link" aria-hidden="true" (click)="openLinkedIn()"></i>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

  </div>
</div>
<div class="socket-area">
  <label class="socket-content">
    {{langService.translate('All rights reserved for BentOakSystems')}} &copy;
  </label>
</div>
