<div class="footer-back footer row">
  //First Part
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 center">
    <div class="footer-content">
      <label class="footer-label" fxLayout="row" fxLayoutAlign="start start">{{'About us'}} </label>
      <div style="text-align: left">Bent Oak Systems was funded in summer 2016 in London, UK.
        At the time we were a few Iranian professionals working for big international
        corporates.</div>
    </div>
  </div>

  // Second part
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label class="footer-label">{{'Contact us'}} </label>
    <div class="footer-content"><label class="footer-label">{{'Address: '}} </label> {{address}}</div>
    <div class="footer-content"><label class="footer-label">{{'Tel: '}} </label> {{phone}}</div>
    <div class="footer-content"><label class="footer-label">{{'Email: '}} </label> {{email}}</div>
  </div>

  // Third Part
  <div class="footer-content">
    <label class="footer-label"> {{'Follow us'}} </label>
    <div><a target="_blank" href="https://www.linkedin.com/company/18228521/">
      <i class="fa fa-linkedin" style="padding:3px;border-radius:2px; font-size:110%" ></i></a>

    <a target="_blank" href="https://github.com/bentoaksystems/">
      <i class="fa fa-github" style="padding:2px;border-radius:2px; font-size:135%"></i></a>

   <a target="_blank" href="https://facebook.com/#/">
      <i class="fa fa-facebook" style="padding:3px;border-radius:2px; font-size:150%"></i></a>

   <a target="_blank" href="https://https://plus.google.com/#/">
      <i class="fa fa-google-plus" style="padding:3px;border-radius:2px; font-size:150%"></i></a></div>
      <!--<i class="fa fa-google-plus-square" style="padding:3px;border-radius:2px; background: transparent;  color: #d34836; font-size:150%"></i></a></div>-->

  </div>
</div>

<div class="socket-area">
  <label class="socket-content">
    {{' © 2018 Bent Oak Systems. All rights reserved.'}}
  </label>
</div>
