.footer {
  height: 140px;
  margin: 0px;
  padding: 10px;
  margin-top: 100px;
  font-size: 0.8em !important;
}

.footer-back {
  background-color: #171717 !important;
}

.footer-content {
  color: rgba(176,182,180,0.71) !important;
}

.socket-area {
  text-align: center;
  background-color: black;
}

.socket-content {
  color: white;
  font-size: 0.6em;
}
