<div class="footer-back footer row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="footer-content">{{address}}</div>
    <div class="footer-content">
      {{'Tel: '}}
      <label class="fix-LTR">{{phone}}</label>
    </div>
    <div class="footer-content" >{{email}}</div>

  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 center">
    <div class="footer-content">
      <!-- TODO: clean this -->
      {{'Follow us in '}}
      <a class="link" target="_blank" href="https://www.linkedin.com/company/18228521/"><i class="fa fa-linkedin link"
          style="padding:3px;border-radius:5px;background:#008CC9;color:white" aria-hidden="true"></i> <a href="https://github.com/bentoaksystems/"
          style="padding:3px;border-radius:5px;background:transparent;color:white;font-size:125%"><i class="fa fa-github link"></i></a></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

  </div>
</div>
<div class="socket-area">
  <label class="socket-content">
    {{'All rights reserved for Bent Oak Systems'}} &copy;
  </label>
</div>
