.personal-image {
  position: relative;
  top: -50px;
  right: 10px;
  float: right;
  max-width: 10%;
  border-radius: 50%;
  z-index: 2;
}

.section {
  margin-top: 8px;
  margin-bottom: 8px;
}
