<div *ngIf="!waiting">
  <div *ngIf="!isMobile" style="position: relative; overflow: hidden">

    <!--Pricing-->
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center">
      <div fxFlex="5"></div>
      <div fxFlex="80">
        <div style="text-align: center; margin-top: 15px">
          <h3 class="t t-primary toolBox">Pricing</h3>
        </div>
        <div *ngFor="let price of  pricing" class="center-line image-wrapper" fxFlex="40" >
          <mat-card  class="primary-lighter matCard shadow tiny">
            <mat-card-title class="title">{{price.title}}</mat-card-title>
            <mat-card-subtitle class="subtitle">{{price.price}}</mat-card-subtitle>
            <mat-form-field>
              <input matInput  class="input" placeholder="How much hour do you need?">
            </mat-form-field>
            <div>
              <button mat-raised-button class="accent">Calculate Price</button>
            </div>

            <mat-list-item class="list-item">
              <p mat-line>
                <mat-icon>done</mat-icon>
                <span>{{price.description1}}</span>
              </p>
            </mat-list-item>
            <mat-list-item class="list-item">
              <p mat-line>
                <mat-icon>done</mat-icon>
                <span>{{price.description2}}</span>
              </p>
            </mat-list-item>
          </mat-card>
        </div>
      </div>
      <div fxFlex="5">&nbsp;</div>
    </div>
  </div>
</div>

<div *ngIf="waiting">
  <mat-spinner class="align-spinner"></mat-spinner>
</div>
