.description-section {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  border: 10px solid #f2f2f2;
  padding: 15px 15px 15px 15px;
}
.title-section {
  text-align: center;
  margin-top: 20px
}
