<div *ngIf="!isMobile" fxLayout="row" fxLayout.sm="row"
     fxLayout.xs="column" fxLayoutAlign="center center" style="margin-top: 10px">
    <div fxFlex="5">&nbsp;</div>
    <div fxFlex="90" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column"
         fxLayoutAlign="start stretch">
        <div class="page-section" fxFlex="60">
            <h2 class="t t-primary t-primary-hover title">
                {{softwareDevInfo.title}}
            </h2>
            <div class="t t-primary description-section content-block" [innerHTML]="desc"></div>
        </div>
        <div fxFlex="40">
            <img class="img img-section shadow tiny" src="{{softwareDevInfo.background}}">
        </div>
    </div>
    <div fxFlex="5">&nbsp;</div>
</div>
<div *ngIf="isMobile">
  <div class="img-mobile-wrapper">
    <img class="img-mobile" src="{{softwareDevInfo.background}}">
  </div>
  <div class="t t-primary section-block-mobile content-block" [innerHTML]="desc"></div>
</div>
