<div dir="rtl" class="mobile-header">
  <mat-sidenav-container class="header">
    <mat-sidenav #sidenav mode="push" class="primary-lighter side-nav" (opened)="sideNavIsOpen = true"
                 (closed)="sideNavIsOpen = false" [opened]="sideNavIsOpen">
      <div *ngFor="let item of array" class="t t-primary t-primary-hover menu-item"
           (click)="navigate([item.router_link])">
        {{item.title}}
        <i class="{{item.iconLogo}}"></i>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="menu-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="50" class="menu-button">
          <a class="mobile-header-item" (click)="sidenav.toggle()">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a>
        </div>
        <div fxFlex="50" class="menu-logo-wrapper">
          <a routerLink="/" class="mobile-header-item">
            <span>
            <img src="{{headerData.logo}}" class="logo-img">
            </span>
          </a>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

