.mobile-header {
    padding: 0px;
    overflow: hidden;
}

.header {
    height: 70px;
    margin: 0px;
    padding: 5px;
}

.mobile-header-item {
    margin: 5px;
    top: 3px;
    position: relative;
    cursor: pointer;
    font-size: 2em;
}

.menu-item {
    padding: 20px;
    text-align: right;
    border-bottom: solid rgba(197, 203, 201, 0.68) thin;
    background-color: rgba(197, 203, 201, 0.3);
    position: relative !important;
}

.menu-item i {
    font-size: 20px;
}

.menu-title {
    color: gray;
    background-color: white;
    text-align: center;
}

a {
    color: black !important;
}

