<mat-card class="shadow softened-edge" (mouseenter)="person.in = true" (mouseleave)="person.in = false" >
  <div>
    <img mat-card-image src="{{person.image}}" alt="{{person.fullname + ' image'}}" style="background-size: cover;">
    <a href="{{'mailto:' + person.email}}" style="text-decoration: none;" aria-hidden="true">
      <div class="item-title">
        <div style="font-size: 1.4em;">{{person.fullname}}</div>
        <div style="font-family: fantasy;">{{person.responsibility}}</div>
        <div class="email-pos">
        </div>
      </div>
    </a>
  </div>
  <mat-card-content>
    <div fxLayoutAlign="center start" class="desc-wrapper" >
      <div>{{person.description}}</div>
    </div>
  </mat-card-content>
  <mat-card-actions class="links-wrapper">
    <a *ngFor="let s of getKeys(person.social)" href="{{person.social[s]}}" target="_blank" rel="noopener noreferrer">
      <button mat-button *ngIf="person.social[s]" class="tiny-button">
        <img class="tiny-img" src="{{images[s.toLowerCase()]}}">
      </button>
    </a>
  </mat-card-actions>
</mat-card>
