<mat-card class="primary-lighter container shadow tiny">
  <div style="display: block; height: 100%">
    <div class="newi">
      <img src="{{person.image}}" alt="{{trl(person.fullname) + ' image'}}" class="image">
    </div>

<div style="height: 25%;margin: 10px;">
    <div>
      <h5 class="text">{{trl(person.fullname)}}</h5>
      <div style="font-family:Trebuchet MS;color:black;">{{trl(person.responsibility)}}</div>
    </div>
</div>
 <!-- <div style="height: 23%;">

    </div>  -->
    <!-- <div style="height: 33%; text-align: justify; padding: 10px">
      <p>{{person.description}}</p>
    </div> -->
    <div style="height: 7%; margin:20px;" class="links-wrapper">
      <a *ngFor="let s of getKeys(person.social)" href="{{person.social[s]}}" target="_blank" rel="noopener noreferrer">
        <button mat-button *ngIf="person.social[s]" class="tiny-button">
          <img class="tiny-img" src="{{images[s.toLowerCase()]}}">
        </button>
      </a>
    </div>
  </div>
</mat-card>
