<div>
  <div class="flex-container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="flex-item" fxFlex="25">
      <img src="{{project.mainImage.url}}" alt="{{project.title}}" class="project-image">
    </div>
    <div class="flex-item" fxFlex="75">
      <h3 class="width-center" *ngIf="langService.lang === 'english'">{{project.title_en}}</h3>
      <h3 class="width-center" *ngIf="langService.lang === 'farsi'">{{project.title_fa}}</h3>
      <h4 class="width-center" *ngIf="langService.lang === 'english'">{{project.shortDescription_en}}</h4>
      <h4 class="width-center" *ngIf="langService.lang === 'farsi'">{{project.shortDescription_fa}}</h4>
      <a class="show-more link" (click)="showDetails()">{{langService.translate('More...')}}</a>
      <div class="show-details">
        <hr/>
        <div class="center" *ngIf="langService.lang === 'english'">{{project.title_en}}</div>
        <div class="center" *ngIf="langService.lang === 'farsi'">{{project.title_fa}}</div>
        <div>
          <p *ngIf="langService.lang === 'english'">{{project.description_en}}</p>
          <p *ngIf="langService.lang === 'farsi'">{{project.description_fa}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
