<div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <img src="{{project.mainImage.url}}" alt="{{project.title_en}}" style="max-height: 120px; max-width: 120px;">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <h3 *ngIf="langService.lang === 'en'">{{project.title_en}}</h3>
      <h3 *ngIf="langService.lang === 'fa'">{{project.title_fa}}</h3>
      <h4 *ngIf="langService.lang === 'en'">{{project.shortDescription_en}}</h4>
      <h4 *ngIf="langService.lang === 'fa'">{{project.shortDescription_fa}}</h4>
      <a class="link" (click)="showDetails()">{{langService.translate('More...')}}</a>
    </div>
  </div>
</div>
