<div [ngClass]="[lang]">
  <div class="center">
    <img src="{{data.project.mainImage.url}}" alt="{{data.project.mainImage.title}}" class="logo-img" />
  </div>
  <mat-card>
    <br/>
    <mat-card-title class="center" *ngIf="langService.lang === 'english'">{{data.project.title_en}}</mat-card-title>
    <mat-card-title class="center" *ngIf="langService.lang === 'farsi'">{{data.project.title_fa}}</mat-card-title>
    <mat-card-content>
      <div [innerHtml]="langService.lang==='english' ? data.project.description_en : data.project.description_fa"></div>
    </mat-card-content>
  </mat-card>
</div>
