<div [ngClass]="[lang]">
  <div>
    <img src="{{data.person.cover}}" class="img-fluid" />
  </div>
  <div>
    <img src="{{data.person.image}}" class="img-fluid personal-image" />
  </div>
  <mat-card>
    <br />
    <mat-card-title *ngIf="langService.lang === 'english'">{{data.person.fullName_en}}</mat-card-title>
    <mat-card-title *ngIf="langService.lang === 'farsi'">{{data.person.fullName_fa}}</mat-card-title>
    <mat-card-content>
      <h4>{{data.person.responsibilities}}</h4>
      <div class="section">
        <a href="{{data.person.linkedin}}" target="_blank" style="text-decoration: none; cursor: pointer;">{{langService.translate('LinkedIn
          Profile')}}</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>