<div class="page">
  <div>
    {{langService.translate('Contact us via below form')}}
  </div>
  <br />
  <form [formGroup]="contactForm" (ngSubmit)="send()">
    <div>
      <mat-input-container class="data-field" [ngClass]="emailClass">
        <input matInput type="email" formControlName="email" placeholder="{{langService.translate('Your Email')}}"
          (ngModelChange)="changeInput(inputType.email, email.value)" #email />
      </mat-input-container>
    </div>
    <div>
      <mat-input-container class="data-field" [ngClass]="nameClass">
        <input matInput type="text" formControlName="name" placeholder="{{langService.translate('Your name')}}"
          (ngModelChange)="changeInput(inputType.name, name.value)" #name />
      </mat-input-container>
    </div>
    <div>
      <mat-form-field class="data-field" [ngClass]="contentClass">
        <textarea matInput rows="10" formControlName="content" placeholder="{{langService.translate('Content')}}"
          (ngModelChange)="changeInput(inputType.content, content.value)" #content>

      </textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button type="submit" [disabled]="!contactForm.valid">
        {{langService.translate('Send your message')}}
      </button>
    </div>
  </form>
</div>