<div style="width: 100%;">
  <div class="footer-back footer" [class.footer-isNotMobile]="!isMobile"
       fxLayout="row" fxLayout.sm="row"
       fxLayout.xs="column"
       fxLayoutAlign="start stretch">

      <div fxFlex="40" [class.center]="isMobile">
        <label class="t t-light footer-label">Contact us</label>
        <div class="t t-primary footer-content">
          <i class="fa fa-home" aria-hidden="true"></i>
          {{address}}
        </div>
        <div class="t t-primary footer-content">
          <i class="fa fa-phone" aria-hidden="true"></i>
          {{phone}}
        </div>
        <div class="t t-primary footer-content">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a class="mail-label" href="mailto:{{email}}">
            {{email}}
          </a>
        </div>
      </div>
      <div fxFlex="40" [class.center]="isMobile">
        <div class="t t-primary footer-content">
          <label class="t t-light footer-label">
            About us
          </label>
          <div>
            <a class="t t-primary footer-content" [routerLink]="'/about-us'" (click)="setPosition('CICD')">CI/CD</a>
          </div>
          <div>
            <a class="t t-primary footer-content" [routerLink]="'/about-us'" (click)="setPosition('SoftwareDev')">Software
              Development</a>
          </div>
          <div>
            <a class="t t-primary footer-content" [routerLink]="'/about-us'" (click)="setPosition('WebDev')">Web
              Development</a>
          </div>
          <div>
            <a class="t t-primary footer-content" [routerLink]="'/about-us'" (click)="setPosition('TechSupp')">Technical Support</a>
          </div>
        </div>

      </div>
    <div  fxFlex="20" class="t t-primary footer-content" [class.center]="isMobile">
      <label class="t t-light footer-label"> {{'Follow us'}} </label>
      <div>
        <a target="_blank" href="{{social.linkedin}}">
          <i class="fa fa-linkedin" [class.mobileSocial]="isMobile" [class.desktopSocial]="!isMobile"></i>
        </a>
        <a target="_blank" href="{{social.github}}">
          <i class="fa fa-github" [class.mobileSocial]="isMobile"  [class.desktopSocial]="!isMobile"></i>
        </a>
        <a target="_blank" href="{{social.slack}}">
          <i class="fa fa-slack" [class.mobileSocial]="isMobile"  [class.desktopSocial]="!isMobile"></i>
        </a>
      </div>
    </div>
    </div>
</div>
<div class="socket-area">
  <label class="t t-light socket-content">
    {{' © 2018 Bent Oak Systems. All rights reserved.'}}
  </label>
</div>
