.footer {
  margin: 0px;
  padding: 10px;
  font-size: 0.5em !important;
}

.footer-isNotMobile {
  height: 180px;
}



.footer-back {
  background-color: #171717 !important;
}

.footer-content {
  color: rgba(176,182,180,0.71) !important;
  margin-top: 2px;
}

.socket-area {
  text-align: center;
  background-color: black;
  border-top: solid;
  border-color: grey;
  height: 30px;
}

.socket-content {
  color: white;
  font-size: 0.6em;

}

.footer-label {
  color: #c0c0c0;
  font-weight: bold;
}

.mail-label {
  text-decoration: none;
}
.align-text {
  text-align: justify;
}

.fixed{
  position: fixed;
  bottom: 0px;
  right:0;
}

