<div style="width: 100%;">
  <div class="footer-back footer" [class.footer-isNotMobile]="!isMobile"
       fxLayout="row" fxLayout.sm="row"
       fxLayout.xs="column"
       fxLayoutAlign="start stretch">
    <div fxFlex="5" fxFlex.sm="0" fxFlex.xs="0">&nbsp;</div>
    <div fxFlex="90" fxLayout="row" fxLayout.sm="row"
         fxLayout.xs="column" fxLayoutAlign="start stretch"
         fxFlex.sm="100" fxFlex.xs="100">
      <div fxFlex="33" [class.center]="isMobile">
        <label class="t t-light footer-label">{{'Get in touch with us'}} </label>
        <div class="t t-primary footer-content">
          <i class="fa fa-home" aria-hidden="true"></i>
          {{address}}
        </div>
        <div class="t t-primary footer-content">
          <i class="fa fa-phone" aria-hidden="true"></i>
          {{phone}}
        </div>
        <div class="t t-primary footer-content">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a class="mail-label" href="mailto:info@bentoak.systems">
            {{email}}
          </a>
        </div>
      </div>
      <div fxFlex="33" [class.center]="isMobile">
        <div class="t t-primary footer-content">
          <label class="t t-light footer-label">
            {{'About Company'}}
          </label>
          <div>
            <a class="t t-primary footer-content" [routerLink]="'/about-us'" (click)="setPosition('CICD')">CICD</a>
          </div>
          <div>
            <a class="t t-primary footer-content" [routerLink]="'/about-us'" (click)="setPosition('SoftwareDev')">Software Development</a>
          </div>
          <div>
            <a class="t t-primary footer-content" [routerLink]="'/about-us'" (click)="setPosition('WebDev')">Web Development</a>
          </div>
          <div>
            <a class="t t-primary footer-content" [routerLink]="'/about-us'" (click)="setPosition('TechSupp')">TechnicalSupport</a>
          </div>
        </div>
      </div>
      <div class="t t-primary footer-content" fxFlex="33" [class.center]="isMobile">
        <label class="t t-light footer-label"> {{'About Company'}} </label>
        <div>
          <a class="t t-primary footer-content" target="_blank" href="/about-us">About us</a>
        </div>
        <div style="margin-bottom: 10px">
          <a class="t t-primary footer-content" target="_blank" href="http://bentoak-blog.herokuapp.com/">Blog</a>
        </div>

        <label class="t t-light footer-label"> {{'Follow us'}} </label>
        <div>
          <a target="_blank" href="{{social.linkedin}}">
            <i class="fa fa-linkedin" style="padding:3px;border-radius:2px; font-size:140%"></i>
          </a>
          <a target="_blank" href="{{social.github}}">
            <i class="fa fa-github" style="padding:2px;border-radius:2px; font-size:140%"></i>
          </a>
          <a target="_blank" href="{{social.slack}}">
            <i class="fa fa-slack" style="padding:3px;border-radius:2px; font-size:145%"></i>
          </a>
        </div>
      </div>
    </div>
    <div fxFlex="5" fxFlex.sm="0" fxFlex.xs="0">&nbsp;</div>
  </div>
  <div class="socket-area">
    <label class="t t-light socket-content">
      {{' © 2018 Bent Oak Systems. All rights reserved.'}}
    </label>
  </div>
</div>