<div style="width: 100%;">
    <div class="footer-back footer" [class.footer-isNotMobile]="!isMobile" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column"
         fxLayoutAlign="center center">
        <div fxFlex="5" fxFlex.sm="0" fxFlex.xs="0">&nbsp;</div>
        <div fxFlex="90" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="center center"
             fxFlex.sm="100" fxFlex.xs="100">
            <div fxFlex="33">
                <label class="footer-label">{{'Get in touch with us'}} </label>
                <div class="footer-content"><i class="fa fa-home" aria-hidden="true"> </i> {{ address}}</div>
                <div class="footer-content"><i class="fa fa-phone" aria-hidden="true"> </i> {{ phone}}</div>
                <div class="footer-content"><i class="fa fa-envelope" aria-hidden="true"> </i> <a class="mail-label"
                                                                                                  href="mailto:info@bentoak.systems">{{
                    email}}</a></div>
            </div>
            <div fxFlex="33">
                <div class="footer-content">
                    <label class="footer-label" fxLayout="row" fxLayoutAlign="start start">{{'About Company'}} </label>
                    <div style="text-align: left"><a class="footer-content" target="_blank" href="#">Mobile App
                        Development</a>
                    </div>
                    <div style="text-align: left"><a class="footer-content" target="_blank" href="#">Web Development</a>
                    </div>
                    <div style="text-align: left"><a class="footer-content" target="_blank" href="#">Software
                        Development</a></div>
                    <div style="text-align: left"><a class="footer-content" target="_blank" href="#">Technical
                        Support</a></div>
                </div>
            </div>
            <div class="footer-content" fxFlex="33">
                <label class="footer-label"> {{'About Company'}} </label>
                <div style="text-align: left"><a class="footer-content" target="_blank" href="/about-us">About us</a></div>
                <div style="text-align: left; margin-bottom: 10px"><a class="footer-content" target="_blank" href="#">Blog</a>
                </div>

                <label class="footer-label"> {{'Follow us'}} </label>
                <div><a target="_blank" href="https://www.linkedin.com/company/18228521/">
                    <i class="fa fa-linkedin" style="padding:3px;border-radius:2px; font-size:145%"></i></a>

                    <a target="_blank" href="https://github.com/bentoaksystems/">
                        <i class="fa fa-github" style="padding:2px;border-radius:2px; font-size:145%"></i></a>

                    <a target="_blank" href="https://facebook.com/#/">
                        <i class="fa fa-facebook" style="padding:3px;border-radius:2px; font-size:150%"></i></a>

                    <a target="_blank" href="https://https://plus.google.com/#/">
                        <i class="fa fa-google-plus" style="padding:3px;border-radius:2px; font-size:150%"></i></a>
                </div>

            </div>
        </div>
        <div fxFlex="5" fxFlex.sm="0" fxFlex.xs="0">&nbsp;</div>

    </div>

    <div class="socket-area">
        <label class="socket-content">
            {{' © 2018 Bent Oak Systems. All rights reserved.'}}
        </label>
    </div>
</div>
