.footer {
  margin: 0;
  padding: 10px;
  padding-top: 20px;
  font-size: 0.5em !important;
}

.footer-isNotMobile {
  height: 180px;
}

.footer-back {
  background-color: #171717 !important;
}

.footer-content {
  margin-top: 2px;
}

.socket-area {
  text-align: center;
  background-color: black;
  border-top: solid;
  border-color: grey;
  height: 30px;
}

.socket-content {
  font-size: 0.6em;
}

.footer-label {
  font-weight: bold;
}

.mail-label {
  text-decoration: none;
}

.footerM {
  text-align: left;
}
