<mat-card class="primary-lighter container shadow tiny">
  <div style="display: block; height: 100%">
    <div style="height: 50%; text-align: center;">
      <img src="{{project.mainImage.url}}" alt="{{project.title}}" class="image">
    </div>
    <div style="height: 33%;" class="middle">
      <h5 class="t t-dark t-caption" style="font-weight: bold;">{{project.title}}</h5>
      <p class="t t-dark t-caption">{{project.shortDescription}}</p>
    </div>
    <button mat-raised-button class="accent middle" (click)="showDetails()">
      {{'More...'}}
    </button>
  </div>
</mat-card>

