.content{
  text-align: justify;
}

.section-block {
  border: 10px solid #f2f2f2;
  padding: 15px 120px 15px 15px;
  position: relative;
  z-index: 4;
  margin-top: 10px;
}

.img {
  height: auto;
  max-width: 100%;
  margin-top: 250px;
}

.img-section {
  margin: 0 -50px;
}
