<div *ngIf="!isMobile" fxLayout="row" fxLayout.sm="row"
     fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxFlex="5">&nbsp;</div>
  <div fxFlex="90" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
    <div class="page-section" fxFlex="50">
      <div class="t t-primary section-block content" [innerHTML]="desc"></div>
    </div>
    <div fxFlex="50">
      <img class="img img-section" src="{{aboutUs.background}}">
    </div>
  </div>
  <div fxFlex="5">&nbsp;</div>
</div>
<div *ngIf="isMobile">
  <div class="img-mobile-wrapper">
    <img class="img-mobile" src="{{aboutUs.background}}">
  </div>
  <div class="t t-primary section-block-mobile content" [innerHTML]="desc"></div>
</div>


