<div *ngIf="!waiting">
    <div *ngIf="!isMobile" style="position: relative">
        <img src="{{homeTopSection.backgroundPic}}" style="display: block">
        <div class="title" [ngClass]="[lang]">{{langService.translate('Bent Oak Systems')}}</div>
        <div class="intro">
            <div [innerHTML]="intro"></div>
        </div>
    </div>
    <div *ngIf="isMobile">
        <img src="{{homeTopSection.backgroundPic}}" style="width: 100%">
        <div class="page-section">
            <div class="section-block content" [innerHTML]="intro"></div>
        </div>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center">
        <div fxFlex="15">&nbsp;</div>
        <div fxFlex="65">
          <div style="text-align: center; margin-bottom: 5px">
            <label class="toolBox">Our Toolbox</label>
          </div>
            <div *ngFor="let row of rows" class="center image-wrapper" fxLayoutAlign="center center" fxLayout="row"
                 fxLayout.sm="column" fxLayout.xs="column">
                <mat-card *ngFor="let image of row" fxFlex="33" class="card shadow tiny">
                    <img (click)="openPage(image.link)" src="{{image.source}}" alt="{{image.title}}"
                         class="image-without-slideshow"/>
                    <p class="text-area">{{image.alt}}</p>
                </mat-card>
            </div>
        </div>
        <div fxFlex="15">&nbsp;</div>
    </div>
    <div style="text-align: center; margin-bottom: 15px">
        <button class="button" label="Show More">Show More</button>
    </div>
</div>

<div *ngIf="waiting">
    <mat-spinner class="align-spinner"></mat-spinner>
</div>
