.desktopImg {
  display: block;
  width: 100%;
  height: 400px;
}

.mobileImg {
  display: inline-table !important;
  width: 200% !important;
  position: relative;
  left: -50%;
}

a {
  text-decoration: none;
}

