<div [style.direction]="langService.getDirection()" [style.text-align]="width < 768 ? 'center' : (langService.getDirection() === 'ltr' ? 'left' : 'right')">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <img src="{{person.image}}" alt="{{person.title}}" style="max-height: 120px; max-width: 120px;">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <h3 *ngIf="langService.getDirection() === 'ltr'">{{person.fullName_en}}</h3>
      <h3 *ngIf="langService.getDirection() === 'rtl'">{{person.fullName_fa}}</h3>
      <h4 *ngIf="langService.getDirection() === 'ltr'">{{person.responsibility_en}}</h4>
      <h4 *ngIf="langService.getDirection() === 'rtl'">{{person.responsibility_fa}}</h4>
      <a *ngIf="width > 768" (click)="showDetails()" style="text-decoration: none; cursor: pointer;">{{langService.translate('More...')}}</a>
      <div *ngIf="width < 768">
        <hr/>
        <div>
          {{langService.translate('You can see my skills and experience at LinkedIn ')}}
          <a *ngIf="langService.getDirection() === 'ltr'" href="{{person.linkedin}}" target="_blank" style="text-decoration: none; cursor: pointer;">{{person.fullName_en}}</a>
          <a *ngIf="langService.getDirection() === 'rtl'" href="{{person.linkedin}}" target="_blank" style="text-decoration: none; cursor: pointer;">{{person.fullName_fa}}</a>
        </div>
        <div>
          <h4>{{langService.translate('My favorites are ')}}</h4>
          <div *ngIf="langService.getDirection() === 'ltr'">
            <div style="text-align: center;" [style.font-family]="langService.getFontFamily()" *ngFor="let favorite of person.favorites_en">{{favorite}}</div>
          </div>
          <div *ngIf="langService.getDirection() === 'rtl'">
            <div style="text-align: center;" [style.font-family]="langService.getFontFamily()" *ngFor="let favorite of person.favorites_fa">{{favorite}}</div>
          </div>
        </div>
        <div>
          <h4>{{langService.translate('Contact me')}}</h4>
          <md-list>
            <md-list-item style="text-align: center;" [style.font-family]="langService.getFontFamily()" *ngIf="person.email">{{langService.translate('Email: ')}}{{person.email}}</md-list-item>
            <md-list-item style="text-align: center;" [style.font-family]="langService.getFontFamily()" *ngIf="person.phone">{{langService.translate('Phone: ')}}{{person.phone}}</md-list-item>
          </md-list>
        </div>
      </div>
    </div>
  </div>
</div>
