<div [ngClass]="[lang]">
  <div>
    <img src="{{data.person.cover}}" class="img-fluid" />
  </div>
  <div>
    <img src="{{data.person.image}}" class="img-fluid personal-image" />
  </div>
  <md-card>
    <br/>
    <md-card-title *ngIf="langService.lang === 'english'">{{data.person.fullName_en}}</md-card-title>
    <md-card-title *ngIf="langService.lang === 'farsi'">{{data.person.fullName_fa}}</md-card-title>
    <md-card-content>
      <h4>{{data.person.responsibilities}}</h4>
      <div class="section">
        <a *ngIf="langService.lang === 'english'" href="{{data.person.linkedin}}" target="_blank" style="text-decoration: none; cursor: pointer;">{{langService.translate('LinkedIn Profile')}}</a>
      </div>
    </md-card-content>
  </md-card>
</div>
