<h2 class="t t-primary t-primary-hover title" style="text-align: center" id="CICD">
    CICD in our company
</h2>
<div fxLayout.sm="row"
     fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxFlex="5"></div>
    <div fxFlex="90" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
        <div fxFlex="25">
            <img class="img img-section" src="{{'../../../assets/images/CICD5.jpg'}}">
        </div>
        <div class="page-section" fxFlex="75">
            <div class="t t-primary description-section content-block" [innerHTML]="desc"></div>
        </div>
    </div>
    <div fxFlex="5"></div>
</div>