/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*Define persian font face*/
@font-face {
  font-family: 'yekan';
  src: url('./assets/fonts/iranyekanweblight.woff');
}
@font-face {
  font-family: 'kharazmi';
  src: url('./assets/fonts/IRANKharazmi.woff');
}
@font-face {
  font-family: 'aovel';
  src: url('./assets/fonts/ASans.ttf');
}
md-sidenav {
  width: 300px;
}

.mat-sidenav-content{
  overflow: hidden !important;
}

.mat-grid-tile .mat-figure{
  text-align: center;
  padding: 3px;
}

.align-spinner{
  height: 50px;
  vertical-align: middle;
  margin: 20% auto 20% auto;
  left: 50%;
}

.cdk-global-scrollblock{
  position: unset !important;
}
.fa {
  text-align: justify;
  direction: rtl;
  font-family: yekan, serif;
}
.en {
  text-align: left;
  direction: ltr;
  font-family: Roboto, serif;
}

h1 .fa{
  font-family: kharazmi, sans-serif !important;
}

h1 .en{
  font-family: aovel, sans-serif !important;
}
