/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*Define persian font face*/
@font-face {
  font-family: 'yekan';
  src: url('./assets/fonts/iranyekanweblight.woff');
}
@font-face {
  font-family: 'kharazmi';
  src: url('./assets/fonts/IRAN_Kharazmi.woff');
}
@font-face {
  font-family: 'aovel';
  src: url('./assets/fonts/ASans.ttf');
}
@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/roboto-v15-latin-regular.ttf');
}
.lang-nav {
  direction: ltr !important;
  font-family: Roboto !important;
}

@media screen and (max-width: 768px) and (min-width: 400px) {
  .column-menu{
    display: none !important;
  }
}
@media screen and (max-width: 768px){
  .english{
    text-align: center;
  }

  .farsi{
    text-align: center;
  }

  .show-more{
    display: none !important;
  }
  .show-details{
    display: block !important;
    margin-bottom: 50px !important;
  }

  .width-center{
    text-align: center !important;
  }

  .visible-slideshow{
    display: none !important;
  }

  .invisible-slideshow{
    display: block !important;
    margin-top: 30px;
  }

}

.visible-slideshow{
  display: flex;
}

.invisible-slideshow{
  display: none;
}

@media screen and (max-width: 400px){
  .column-menu{
    display: block;
  }

  .usual-menu{
    display: none !important;
  }

  .logo .english{
    font-size: 1.6em;
  }

  .logo .farsi{
    font-size: 1.6em;
  }

  .lang-nav{
    margin: 5px !important;
    direction: ltr;
  }

  .english .header-item{
    float: unset !important;
  }

  .farsi .header-item{
    float: unset !important;
  }
}

@media screen and (min-width: 768px){
  .usual-menu{
    display: block !important;
  }
  .column-menu{
    display: none !important;
    visibility: hidden;
  }
  .lang-nav{
    margin-top: 140px !important;
    direction: ltr;
  }
}

.link{
  text-decoration: none;
  cursor: pointer;
}

.page{
  padding: 10px;
  margin: 10px;
  margin-top: 80px;
}

.center{
  text-align: center;
}

md-sidenav {
  width: 300px;
}

.mat-sidenav-content{
  overflow: hidden !important;
}

.mat-grid-tile .mat-figure{
  text-align: center;
  padding: 3px;
}

.align-spinner{
  height: 40px !important;
  vertical-align: middle;
  margin: 20% auto 20% auto;
  left: 50%;
}

.cdk-global-scrollblock{
  position: unset !important;
}
.farsi {
  text-align: justify;
  direction: rtl;
  font-family: yekan, serif;
  font-size: 1.2em;
}
.english {
  text-align: left;
  direction: ltr;
  font-family: roboto, serif;
}

h1.farsi{
  font-family: kharazmi, sans-serif !important;
}

h1.english{
  font-family: aovel, sans-serif !important;
}

.mat-subheader{
  font-size: 1.5rem !important;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

/*Remove outer border in primeng slideshow*/
.ui-widget-content{
  border: none;
}

.vertical-space{
  margin: 200px;
}

.show-more{
  display: block;
}

.show-details{
  display: none;
}

.width-center{
  text-align: inherit;
}

.mat-card{
  font-family: inherit;
}

.mat-list-item{
  font-family: inherit;
}

/*set font-size for english and farsi fonts*/
.english h1{
  font-size: 2em;
}

.english h2{
  font-size: 1.5em;
}

.english h3{
  font-size: 1.17em;
}

.english h4{
  font-size: 1em;
}

.english h5{
  font-size: 0.83em;
}

.english h6{
  font-size: 0.67em;
}

.farsi h1{
  font-size: 2.2em;
}

.farsi h2{
  font-size: 1.5em;
}

.farsi h3{
  font-size: 1.17em;
}

.farsi h4{
  font-size: 1em;
}

.farsi h5{
  font-size: 0.83em;
}

.farsi  h6{
  font-size: 0.67em;
}

span, div, label, p{
  font-size: medium;
}

.english .personal-image{
  float: right !important;
}

.farsi .personal-image{
  float: left !important;
  right: -10px !important;
}

.english .project-image{
  float: right !important;
}

.farsi .project-image{
  float: left !important;
}

.ui-panel-images{
  max-width: 700px;
  max-height: 700px;
}
.ui-galleria{
  width:100%;
}
.english .ui-galleria-caption{
  font-family: roboto, serif;
}

.farsi .ui-galleria-caption{
  font-family: yekan, serif;
}

.ui-galleria-caption p{
  text-align: center;
  font-size: 0.8em;
}

.ui-galleria-caption h4{
  text-align: center;
}

.fa-chevron-circle-right, .fa-chevron-circle-left{
  display: none;
}

.fix-LTR{
  direction: ltr;
}

.ui-galleria-panel{
  text-align: center;
}

.show-details .personal-image{
  float: unset !important;
}
