/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'aovel';
  src: url('./assets/fonts/ASans.ttf');
}

@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/Roboto-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/Roboto-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@import "./bos-theme";

.lang-nav {
  direction: ltr !important;
  font-family: Roboto !important;
}

@media screen and (max-width: 768px) and (min-width: 400px) {
  .column-menu {
    display: none !important;
  }
}

@media screen and (min-width: 960px) {
  .lang-nav {
    margin-top: 140px !important;
    direction: ltr;
  }
}

@media screen and (max-width: 768px) {
  .show-more {
    display: none !important;
  }
  .show-details {
    display: block !important;
    margin-bottom: 50px !important;
  }

  .width-center {
    text-align: center !important;
  }

  .visible-slideshow {
    display: none !important;
  }

  .invisible-slideshow {
    display: block !important;
    margin-top: 30px;
  }

}

.visible-slideshow {
  display: flex;
}

.invisible-slideshow {
  display: none;
}

.logo {
  color: black !important;
}

.active-link {
  color: #607d8b !important;
  text-decoration: underline !important;
}

@media screen and (min-width: 400px) {
  .logo {
    font-size: 157% !important;
  }

}

@media screen and (max-width: 400px) {
  .column-menu {
    display: block;
  }

  .usual-menu {
    display: none !important;
  }

  .logo .english {
    font-size: 2.6em;
  }

  .lang-nav {
    margin: 5px !important;
    direction: ltr;
  }

  .english .header-item {
    float: unset !important;
  }
}

@media screen and (min-width: 768px) {
  .usual-menu {
    display: block !important;
  }
  .column-menu {
    display: none !important;
    visibility: hidden;
  }
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.page {
  padding: 10px;
  margin: 10px;
  margin-top: 50px;
}

.center {
  text-align: center;
}

mat-sidenav {
  width: 300px;
}

.mat-sidenav-content {
  overflow: hidden !important;
}

.mat-grid-tile .mat-figure {
  text-align: center;
  padding: 3px;
}

.align-spinner {
  margin: 200px auto;
}

.cdk-global-scrollblock {
  position: unset !important;
}

.english {
  text-align: left;
  direction: ltr;
  font-family: roboto, serif;
}

h1.english {
  font-family: aovel, sans-serif !important;
}

.mat-subheader {
  font-size: 1.5rem !important;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

/*Remove outer border in primeng slideshow*/
.ui-widget-content {
  border: none;
}

.vertical-space {
  margin: 200px;
}

.show-more {
  display: block;
}

.show-details {
  display: none;
}

.width-center {
  text-align: inherit;
}

.mat-card {
  font-family: inherit;
}

.mat-list-item {
  font-family: inherit;
}

.english h1 {
  font-size: 2em;
}

.english h2 {
  font-size: 1.5em;
}

.english h3 {
  font-size: 1.17em;
}

.english h4 {
  font-size: 1em;
}

.english h5 {
  font-size: 0.83em;
}

.english h6 {
  font-size: 0.67em;
}

span, div, label, p {
  font-size: medium;
}

.english .personal-image {
  float: right !important;
}

.english .project-image {
  float: right !important;
}

.ui-panel-images {
  max-width: 700px;
  max-height: 700px;
}

.ui-galleria {
  width: 100%;
}

.english .ui-galleria-caption {
  font-family: roboto, serif;
}

.ui-galleria-caption p {
  text-align: center;
  font-size: 0.8em;
}

.ui-galleria-caption h4 {
  text-align: center;
}

.fa-chevron-circle-right, .fa-chevron-circle-left {
  display: none;
}

.fix-LTR {
  direction: ltr;
}


.input-error {
  border-color: yellow !important;
  border-width: 1px !important;
}

.ui-galleria-panel {
  text-align: center;
}

.show-details .personal-image {
  float: unset !important;
}

.show-details .project-image {
  float: unset !important;
}

.project-text-align {
  text-align: justify !important;
}

.data-field {
  width: 100%;
  text-align: center;
}

.inform {
  background-color: black;
}

.error {
  background-color: darkred;
}

.warning {
  background-color: greenyellow;
}

.mat-form-field-infix {
  font-family: 'roboto';
  text-align: left;
}

.mat-input-element {
  font-family: 'roboto' !important;
  text-align: left;
  direction: ltr;
}

.mat-button-wrapper {
  font-family: 'roboto';
}

.clickable-link {
  cursor: pointer;
  text-decoration: none;
}

.mat-drawer {
  position: fixed !important;
}

.mat-drawer-container {
  z-index: 10 !important;
  overflow: visible !important;
  background-color: mat-color($bw-primary) !important;
}

.maxWidth {
  max-width: 1400px;
  margin:auto;
}

