<div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxFlex="5">&nbsp;</div>
  <div fxFlex="90" fxLayout="row" fxLayout.sm="row"
       fxLayout.xs="column" fxLayoutAlign="start center">
    <div class="page" fxFlex="60">
      <h3 class="t t-dark t-dark-hover title" [class.title-mobile]="isMobile">
        {{'Ready to start a project?'}}
      </h3>
      <br/>
      <form [formGroup]="contactForm" (ngSubmit)="send()">
        <div>
          <mat-input-container class="data-field contact-email" [ngClass]="emailClass">
            <input matInput type="email" formControlName="email" placeholder="{{'Your Email'}}"
                   (ngModelChange)="changeInput(inputType.email, email.value)" #email/>
          </mat-input-container>
        </div>
        <div>
          <mat-input-container class="data-field contact-name" [ngClass]="nameClass">
            <input matInput type="text" formControlName="name" placeholder="{{'Your name'}}"
                   (ngModelChange)="changeInput(inputType.name, name.value)" #name/>
          </mat-input-container>
        </div>
        <div>
          <mat-form-field class="data-field contact-message" [ngClass]="contentClass">
        <textarea matInput rows="2" formControlName="content" placeholder="{{'Content'}}"
                  (ngModelChange)="changeInput(inputType.content, content.value)" #content>

      </textarea>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button class="primary button" type="submit" [disabled]="!contactForm.valid">
            <span class="t t-accent t-accent-hover">{{'Send your message'}}</span>
          </button>
        </div>
      </form>
    </div>
    <div fxFlex="5">&nbsp;</div>
    <div fxFlex="35" class="page">
      <h3 class="t t-dark t-dark-hover title" [class.title-mobile]="isMobile">{{'Get in touch with us'}} </h3>
      <h5 class="t t-primary contact-label">
        <i class="fa fa-home contact-image" aria-hidden="true"></i>
        {{address}}
      </h5>
      <h5 class="t t-primary contact-label">
        <i class="fa fa-phone contact-image" aria-hidden="true"></i>
        {{phone}}
      </h5>
      <h5 class="t t-primary contact-label">
        <i class="fa fa-envelope contact-image" aria-hidden="true"></i>
        <a class="mail" href="mailto:info@bentoak.systems">
          {{emailAddress}}
        </a>
      </h5>
    </div>
  </div>
  <div fxFlex="5">&nbsp;</div>
</div>
