.title {
  position: relative;
  font-weight: bold;
  margin-top: 20px;
}

.title-mobile {
  margin-top: 0 !important;
}

.contact-label {
  font-weight: bold;
  margin-top: 30px;
}

.contact-image {
  padding: 3px;
  border-radius: 2px;
  font-size: 185%
}

.mail {
  text-decoration: none;
}

.contact-name {
  background: url(../../../assets/images/contact.png) 100% no-repeat;
  border: none;
}

.contact-email {
  background: url(../../../assets/images/email.png) 100% no-repeat;
  border: none;
}

.contact-message {
  background: url(../../../assets/images/message.png) 100% center no-repeat;
  border: none;
}

.contact-phone {
  background: url(../../../assets/images/telephone.png) 100% center no-repeat;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}
