<div class="page">
  <div *ngIf="!waiting">
    <div class="flex-container visible-slideshow" fxLayout="row" fxLayoutAlign="center center">
      <div class="flex-item" fxFlex="20" fxFlex.sm="0" fxFlex.xs="0"></div>
      <div class="flex-item slide-show" fxFlex="60" fxFlex.sm="100" fxFlex.xs="100">
        <p-galleria [ngClass]="[lang]" [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true" [showFilmstrip]="false" [transitionInterval]="9000"></p-galleria>
      </div>
      <div class="flex-item" fxFlex="20" fxFlex.sm="0" fxFlex.xs="0"></div>
    </div>
    <div class="invisible-slideshow">
      <div *ngFor="let image of images_en" class="center image-wrapper">
        <img src="{{image.source}}" alt="{{image.title}}" class="image-without-slideshow" />
        <p class="jumbotron">{{image.alt}}</p>
      </div>
    </div>
    <div class="vertical-space"></div>
    <div class="center container">
      <div class="jumbotron">
        <h3>
          "{{langService.translate('The only limit to your impact is your imagination and commitment')}}"
        </h3>
        <div style="font-size: 0.8em;">{{langService.translate('Tony Robbins')}}</div>
      </div>
    </div>
    <div class="vertical-space"></div>
    <div>
      <h2 class="center">
        {{langService.translate('Trust us to make better world')}}
      </h2>
      <div class="center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="flex-item" fxFlex="50" fxLayout="row" fxLayout.xs="column">
            <div *ngFor="let technology of technologies_1" class="flex-item" fxFlex="14">
              <img (click)="openPage(technology.link)" src="{{technology.source}}" alt="{{technology.alt}}" class="img-link" />
            </div>
          </div>
          <div class="flex-item" fxFlex="50" fxLayout="row" fxLayout.xs="column">
            <div *ngFor="let technology of technologies_2" class="flex-item" fxFlex="14">
              <img (click)="openPage(technology.link)" src="{{technology.source}}" alt="{{technology.alt}}" class="img-link"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="waiting">
    <md-spinner class="align-spinner"></md-spinner>
  </div>
</div>
