.tile{
  background-color: #d6dcda;
}

.technology-item{
  display: inline-block;
}

.title-wrapper{
  opacity: 0;
  max-width: 80px;
  max-height: 80px;
  margin-top: -80px;
  visibility: hidden;
  background: #dce2e0;
  color: black;
}

.technology-item:hover .title-wrapper{
  opacity: 1;
  visibility: visible;
}

.row-tile{
  margin: 1px;
}

.tile-img{
  max-width: 200px;
  max-height: 200px;
}

.img-link{
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin: 5px;
}
