.tile {
  background-color: #d6dcda;
}

.technology-item {
  display: inline-block;
}

.title-wrapper {
  opacity: 0;
  max-width: 80px;
  max-height: 80px;
  margin-top: -80px;
  visibility: hidden;
  background: #dce2e0;
  color: black;
}

.technology-item:hover .title-wrapper {
  opacity: 1;
  visibility: visible;
}

.row-tile {
  margin: 1px;
}

.tile-img {
  max-width: 200px;
  max-height: 200px;
}

.img-link {
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin: 5px;
}

.slide-show {
  text-align: -webkit-center;
}

.image-without-slideshow {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.techContainer  {
  display: inline-block !important;
}

.title {
  position: relative;
  top: -850px;
  /*color: #A754B1;*/
  color: #e9e9e9;
  margin: 10px;
  font-size: 80px
}

.intro {
  position: relative;
  top: -830px;
  color: #e9e9e9;
  width: 50%;
  margin: 20px
}

.intro:hover {
  color: #A48CB1;;
}

.title:hover {
  color: #A48CB1;;
}
