<div class="header">
  <div fxLayout="row" fxLayoutAlign="center end"
       fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="30">
      <a style="cursor: pointer" routerLink="/">
        <img src="{{headerData.logo}}" style="height: 60px">
      </a>
    </div>
    <div fxFlex="70">
      <div class="header-content-wrapper">
        <span *ngFor="let item of headerData.menu_tab" class="header-item">
          <a class="t t-accent t-accent-hover header-content" routerLink="{{item.router_link}}">
            {{item.title}}
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
