.header {
  height: 80px;
  margin: 0px;
  padding: 10px;
}

.header-content {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.header-content:hover {
  color: #2C7AA9;
}

.header-item {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: right;
}

.logo {
  padding: 10px;
  direction: ltr;
  float: left;
}

