.header {
  height: 80px;
  margin: 0;
  padding: 10px;
}

.header-content-wrapper {
  margin-right: 20px;
  text-align: right;
}

.header-content {
  text-decoration: none;
  font-weight: bold;
}

.header-item {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
