<div class="header">
  <div fxLayout="row" fxLayoutAlign="center end"
       fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="30">
      <a style="cursor: pointer" routerLink="/">
        <img src="{{headerData.logo}}" style="height: 60px">
      </a>
    </div>
    <div fxFlex="70">
      <div class="header-content-wrapper">
        <span class="header-item">
          <!-- <img class="img-process" src="../../../assets/images/Globe_int_blue.svg"> -->
          <select name="" id="" (change)="onChange($event)" [value]="selectedLanguage">
            <option *ngFor="let language of languages">{{trl(language)}}</option>
          </select>
        </span>
        <span *ngFor="let item of headerData.menu_tab" class="header-item">
          <a class="t t-accent t-accent-hover header-content" href="{{item.router_link}}">
            {{trl(item.title)}}
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
